<!DOCTYPE html>
<html>

<head>
    <title>Your Page Title</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js">
    </script>

    <!-- App -->
    <script type="text/javascript" charset="utf8" src="static/app.js"></script>

</head>

<body>

    <table id="my_table" class="display" width="100%"></table>


</body>

</html>